* {
    BG:    #24273a;
    BGA:   #89DCEBff;
    FG:    #cad3f5;
    FGA:   #ed8796;
    SEL:   #24273a;
    BDR:   #96CDFBff;
    UGT:   #F28FADff;
    IMG:   #FAE3B0ff;
    OFF:   #575268ff;
    ON:    #ABE9B3ff;
}
